body{
  background-color: #F8F3EA;
  font-family: Arial, sans-serif;
  row-gap: 100px;
}

.logo-div{
  height: 150px;
  background-color: #0B1957;
  display: flex;
  justify-content: center; 
  align-items: center; 
 
}

/* Navbar */
nav {
  background-color: #0B1957;
  display: flex;
  align-items: flex-end;
  gap:40px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;

}

nav ul li {
  float: left;

}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #5784E6;
}

.logo{
  height: 170px;  
  width: 450px;
}

.title{
  text-align: center;
}

#gif{
  width: 70%;
}

p{
  text-align: justify;
}

.box{
  height: 80px;
}

.space{
  height: 50px;
}

#crow-img{
  height: 500px;
}
